@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao TP3 da disciplina <br />Desenvolvimento Web com .NET e Bases de Dados</h1>
    <h2>ENUNCIADO</h2>
    <p>
        Para este TP, você deverá criar um projeto do tipo ASP.NET Core Web App (Model-View-Controller), que deverá ter 3 classes do tópico/contexto de sua escolha.
        <ol style="list-style-type:none">
            <li>Após a criação dessas classes, criar a base a base de dados localmente, conforme visto em aula;</li>
            <li>Popular as tabelas criadas no banco local, conforme visto em aula;</li>
            <li>Criar uma controller que consiga ler, alterar, incluir e apagar registros, conforme visto em aula.</li>
        </ol>
    </p>
</div>
